<body>

<!-- header -->
<header>
	<div class="container">
		<!-- nav -->
		<nav class="py-md-4 py-3 d-lg-flex">
			<div id="logo">
				<h1> <a href="index.html"><span class="fa fa-scissors"></span> Men's Salon</a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu mt-lg-4 ml-auto">
				<li class=""><a href="/">Home</a></li>
				<li class=""><a href="/products">Products</a></li>
				<li class="active mr-2"><a href="/contact">Contact</a></li>
				<li class=""><span><span class="fa fa-phone"></span> +12 34 3456 7890</span></li>
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->

<!-- banner -->
<div class="inner-banner" id="home">
	<div class="inner-banner-overlay">
		<div class="container">
			
		</div>
	</div>
</div>
<!-- //banner -->

<!-- page details -->
<div class="breadcrumb-agile">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="index.html">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Contat Us</li>
		</ol>
	</div>
</div>
<!-- //page details -->

<!-- contact -->
<section class="contact py-sm-5 py-4">
	<div class="container py-md-3">
		<h2 class="heading text-capitalize text-center mb-lg-5 mb-sm-4 mb-3"> Contact Us</h2>
		<div class="contact-form">
			<form action="#" method="post">
				<div class="row main-w3layouts-sectns">
					<div class="col-lg-3 col-md-6 w3-btm-spc form-text1">
						<label><span class="fa fa-user"></span> Your Name:</label>
						<input type="text" name="Name" placeholder="John Watson" required="">
					</div>
					<div class="col-lg-3 col-md-6 w3-btm-spc form-text2">
						<label><span class="fa fa-phone"></span> Phone Number:</label>
						<input type="text" name="Phone no" placeholder="xxxxxxxxxx" required="">
					</div>
					<div class="col-lg-3 col-md-6 w3-btm-spc form-text1">
						<label><span class="fa fa-envelope-open"></span> Email Address:</label>
						<input type="email" name="email" placeholder="example@mail.com" required="">
					</div>
					<div class="col-lg-3 col-md-6 w3-btm-spc form-text2">
						<label><span class="fa fa-pencil"></span> Subject:</label>
						<input type="text" name="subject" placeholder="Hair Style" required="">
					</div>
				</div>
				<div class="main-w3layouts-sectns ">
					<div class="w3-btm-spc form-text2 p-0">
						<textarea placeholder="Enter Your Message Here"></textarea>
					</div>
				</div>
				<button class="btn"> Submit</button>
			</form>
		</div>
	</div>
</section>
<!-- //contact -->

<!-- map -->
<div class="map p-2">
	<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d51892.41913975499!2d-117.70354672681627!3d35.62091700838652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x80c16cc737ce7f0f%3A0xdf69defd5d86f03!2s128%20East%20California%20Avenue%2C%20Ridgecrest%2C%20CA%2C%20USA!3m2!1d35.6209221!2d-117.6684416!5e0!3m2!1sen!2sin!4v1612416140005!5m2!1sen!2sin"></iframe>
</div>
<!-- map -->

<!-- footer top-->
<div class="footer-top py-md-4">
	<div class="container py-4">
		<div class="row">
			<div class="col-lg-9">
				<h4 class="footer-top-text text-capitalize">A wide range of male grooming services</h4>
			</div>
			<div class="col-lg-3 text-lg-right mt-lg-0 mt-4">
				<a href="services.html" class="text-capitalize serv_link btn">Go to our Services</a>
			</div>
		</div>
	</div>
</div>
<!-- //footer top-->

<!-- footer -->
<footer class="py-sm-5 py-4">
	<div class="container py-md-3">
		<div class="footer-logo text-center">
			<a class="navbar-brand" href="index.html"><span class="fa fa-scissors"></span>Men's Salon</a>
		</div>
		<div class="row my-4 footer-middle">
			<div class="col-md-5 text-md-right address">
				<p><span class="fa fa-map-marker"></span>Location : 123 Street W, Seattle WA 99999 Paris, France.</p>
			</div>
			<div class="col-md-2 text-md-center my-md-0 my-sm-4 my-2 footer-icon">
				<span class="fa fa-scissors"></span>
			</div>
			<div class="col-md-5 text-md-left phone">
				<p><span class="fa fa-phone"></span>Phone : +121 568 789 901</p>
				<p><span class="fa fa-envelope-open"></span>Email : <a href="mailto:example@mail.com">example@mail.com</a></p>
			</div>
		</div>
		<div class="footer-grid">
			<div class="social text-center">
				<ul class="d-flex justify-content-center">
					<li class="mx-2"><a href="#"><span class="fa fa-facebook"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fa fa-twitter"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fa fa-rss"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fa fa-linkedin"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fa fa-google-plus"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- footer -->

<!-- copyright -->
<div class="copyright py-3 text-center">
	<p>© 2019 Men's Salon. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="=_blank"> W3layouts </a></p>
</div>
<!-- //copyright -->

<!-- move top icon -->
<a href="#home" class="move-top text-center"></a>
<!-- //move top icon -->
	
</body>
</html>

<!--Storing this code here for now-->
<div class="container">
    <div class="row">
        <h1>Hair Friends 2 Community</h1>
    </div>
    <div class="row">
        {{#each comment}}
        {{#if dataValues.pin}}
        {{>forms/form-card}}
        {{/if}}
        {{/each}}
    </div>
    <div class="row">
        <h4>comment here (form)</h4>
    </div>
    <div class="row">
        {{!-- FORM POST REQ --}}
        <form class="create-form" action="">
            <div class="row">
                <div class="col">
                    <input id="formFirstName" type="text" class="form-control" placeholder="First name"
                        autocomplete="given-name">
                </div>
                <div class="col">
                    <input id="formLastName" type="text" class="form-control" placeholder="Last name"
                        autocomplete="family-name">
                    <small id="lastNameHelp" class="form-text text-muted">Or last initial.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="formBody">Leave a comment...</label>
                <textarea class="form-control" id="formBody" rows="3"></textarea>
                <small id="bodyHelp" class="form-text text-muted">Max 1500 characters.</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="row">
        {{#each comment}}
        {{#unless dataValues.pin}}
        {{>forms/form-card}}
        {{/unless}}
        {{/each}}
    </div>
</div>