<!-- header -->
<header>
    <div class="container">
        <!-- nav -->
        <nav class="py-md-4 py-3 d-lg-flex">
            <div id="logo">
                <h1> <a href="index.html"><span class="fa fa-scissors"></span> Hair Friends 2</a></h1>
            </div>
            <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
            <input type="checkbox" id="drop" />
            <ul class="menu mt-lg-4 ml-auto">
                <li class=""><a href="/">Home</a></li>
                <li class=""><a href="/products">Products</a></li>
                <li class="active mr-2"><a href="/forms">Contact</a></li>
                <li class=""><span><span class="fa fa-phone"></span> +1 760 677 2080</span></li>
            </ul>
        </nav>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->

<!-- banner -->
<div class="inner-banner" id="home">
    <div class="inner-banner-overlay">
        <div class="container">

        </div>
    </div>
</div>
<!-- //banner -->

<!-- page details -->
<div class="breadcrumb-agile">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ol>
    </div>
</div>
<!-- //page details -->

<!-- contact -->
<section class="contact py-sm-5 py-4">
    <div class="container py-md-3">
        <h2 class="heading text-capitalize text-center mb-lg-5 mb-sm-4 mb-3"> Community Blog</h2>
        <div class="contact-form">
            <form class="create-form" action="" method="post">
                <div class="row main-w3layouts-sectns">
                    <div class="col-lg-3 col-md-6 w3-btm-spc form-text1">
                        <input id="formFirstName" type="text" class="form-control" placeholder="First name"
                            autocomplete="given-name">
                    </div>
                    <div class="col-lg-3 col-md-6 w3-btm-spc form-text2">
                        <input id="formLastName" type="text" class="form-control" placeholder="Last name"
                            autocomplete="family-name">
                    </div>
                </div>
                <div class="main-w3layouts-sectns ">
                    <div class="w3-btm-spc form-text2 p-0">
                        <label for="formBody">Give us a shout out! Tell us why you love Hair Friends 2...</label>
                        <textarea class="form-control" id="formBody" rows="3"></textarea>
                        <small id="bodyHelp" class="form-text text-muted">Max 1500 characters.</small>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>
<!-- //contact -->
<section class="testi py-5" id="testi">
	<div class="container pb-xl-5 py-lg-3">
		<h3 class="text-center heading mb-5">What our customers say</h3>
		<div>
            {{#each comment}}
            {{#unless dataValues.pin}}
            {{>forms/form-card}}
            {{/unless}}
            {{/each}}
        </div>
	</div>
</section>

<!-- footer -->
<footer class="py-sm-5 py-4">
    <div class="container py-md-3">
        <div class="footer-logo text-center">
            <a class="navbar-brand" href="/"><span class="fa fa-scissors"></span>Hair Friends 2</a>
        </div>
        <div class="row my-4 footer-middle">
            <div class="col-md-5 text-md-right address">
                <p><span class="fa fa-map-marker"></span>Location : 128 E California Ave Suite C, Ridgecrest, CA
                    93555</p>
            </div>
            <div class="col-md-2 text-md-center my-md-0 my-sm-4 my-2 footer-icon">
                <span class="fa fa-scissors"></span>
            </div>
            <div class="col-md-5 text-md-left phone">
                <p><span class="fa fa-phone"></span>Phone : +1 760 677 2080</p>
                <p><span class="fa fa-envelope-open"></span>Email : <a
                        href="mailto:example@mail.com">alfredoclimbs@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-grid">
            <div class="social text-center">
                <ul class="d-flex justify-content-center">
                    <li class="mx-2"><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li class="mx-2"><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li class="mx-2"><a href="#"><span class="fa fa-rss"></span></a></li>
                    <li class="mx-2"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    <li class="mx-2"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->

<!-- copyright -->
<div class="copyright py-3 text-center">
    <p>© 2019 Men's Salon. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="=_blank">
            W3layouts </a></p>
</div>
<!-- //copyright -->

<!-- move top icon -->
<a href="#home" class="move-top text-center"></a>
<!-- //move top icon -->