<div class="col-lg-6">
    <div class="row testi-cgrid border-right-grid">
        <div class="col-sm-8">
            <p class="mx-auto"><span class="fa fa-quote-left"></span>{{dataValues.body}}<span class="fa fa-quote-right"></span></p>
            <h6 class="b-w3ltxt mt-3">{{dataValues.firstName}} {{dataValues.lastName}}</h6>
        </div>
    </div>
</div>